<!--<section class="sessao-home">
    <div class="home-header"></div>
        <h1>Home</h1>
        <div class="home-images">
            <div class="home-images image1">
                <img src="./assets/images/python.png">
            </div>
            <div class="home-images image2">
                <img src="./assets/images/data.png">
            </div>
            <div class="home-images image3">
                <img src="./assets/images/bi.png">
            </div>
            <div class="home-images image4">
                <img src="./assets/images/html.png">
            </div>
            <div class="home-images image5">
                <img src="./assets/images/css.png">
            </div>
            <div class="home-images image6">
                <img src="./assets/images/js.png">
            </div>
            <div class="home-images image7">
                <img src="./assets/images/typescript.png">
            </div>
        </div>
</section>
-->
<section class="sessao-dados" data-aos="fade-right" data-aos-duration="1000">
    <div class="dados-header">
        <h3>Analise de dados</h3>
    </div>
    <div class="dados-skills">
        <div class="dados-skills skill-1">
            <img src="./assets/images/python.png">
        </div>
        <div class="dados-skills skill-2">
            <img src="./assets/images/data.png">
        </div>
        <div class="dados-skills skill-3">
            <img src="./assets/images/bi.png">
        </div>  
    </div>
</section>

<section class="sessao-front" data-aos="fade-right" data-aos-duration="1000">
    <div class="front-header">
        <h3>Front-End</h3>
    </div>
    <div class="front-skills">
        <div class="front-skills skill-1">
            <img src="./assets/images/html.png">
        </div>
        <div class="dados-skills skill-2">
            <img src="./assets/images/css.png">
        </div>
        <div class="dados-skills skill-3">
            <img src="./assets/images/bootstrap.png">
        </div>  
        <div class="front-skills skill-4">
            <img src="./assets/images/js.png">
        </div>
        <div class="dados-skills skill-5">
            <img src="./assets/images/typescript.png">
        </div>

    </div>
</section>

<section class="sessao-projetos" data-aos="fade-right" data-aos-duration="1000">
    <div class="cards-projeto">
        <div class="header">
            <img src="./assets/images/typescript.png">
        </div>
        <div class="info">
          <p class="title">How to make this material card ?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi. </p>
        </div>
        <div class="footer">
          <p class="tag">#HTML #CSS </p>
          <button type="button" class="action">Get started </button>
        </div>
    </div>
    <div class="cards-projeto">
        <div class="header"></div>
        <div class="info">
          <p class="title">How to make this material card ?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi. </p>
        </div>
        <div class="footer">
          <p class="tag">#HTML #CSS </p>
          <button type="button" class="action">Get started </button>
        </div>
    </div>
    <div class="cards-projeto">
        <div class="header"></div>
        <div class="info">
          <p class="title">How to make this material card ?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi. </p>
        </div>
        <div class="footer">
          <p class="tag">#HTML #CSS </p>
          <button type="button" class="action">Get started </button>
        </div>
    </div>
</section>

<!--
<div class="body">
    <section>
        <h2>Olá, eu sou o Luiz</h2>
        <p>This is my website</p>
    </section>

    <section>
        <h2>Minhas Habilidades</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quia inventore, tempora ea asperiores suscipit ad 
            corporis recusandae culpa eveniet quam hic, sunt consectetur autem nisi delectus, totam non ab.</p>
    </section>

    <section>
        <h2>Minhas Habilidades</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quia inventore, tempora ea asperiores suscipit ad 
            corporis recusandae culpa eveniet quam hic, sunt consectetur autem nisi delectus, totam non ab.</p>
    </section>
</div>
-->