<section class="card-container">
    <div class="card-container card" *ngFor="let skill of filteredSkills">
        <img class="img" [src]="skill.imageUrl" width="40" height="40">
            <div class="textBox">
                <p class="text head">{{skill.name}}</p>
                <p class="text price">R$ {{ skill.price }}</p>
                <p class="text desc">{{skill.description}}</p>
                <div>
                    <a [routerLink]="['/portfolio/', skill.id]" class="btn btn-light">Mais detalhes</a>
                </div>
            </div>
    </div>
</section>
