
<section class="home">
    <div class="home-text">
        <h3>Olá</h3>
        <h1>Eu sou o Luiz</h1>
        <h5>Sou um Cientista de dados!</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, voluptate harum praesentium ipsa facilis deleniti inventore ut odio iure sunt, esse unde incidunt numquam eum neque totam ea accusamus nihil?
        </p>
        <div class="social">
            <a href=""><img src="./assets/images/insta.png"></a>
            <a href="https://github.com/rickluizms"><img src="./assets/images/github.png"></a>
            <a href="https://www.linkedin.com/in/rickluizms"><img src="./assets/images/linkedin.png"></a>
        </div>
        <button class="button"><a href="#" class="btn">Hire Me</a>
        </button>
    </div>
        <div class="home-img">
            <img src="./assets/images/innovation.png">

        </div>
</section>

<div class="dados-header" data-aos="fade-right" data-aos-duration="1500">
    <div class="dados-text">
        <h1>Analista de dados</h1>
        <p>Analise os dados do seu banco de dados</p>
    </div>
</div>

<section class="sessao-dados" data-aos="fade-right" data-aos-duration="1500">
    <div class="dados-item">
        <carousel>
            <slide>
              <img src="./assets/images/dash01.png" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                <button class="carousel-button"><a href="#" class="btn">Ver Projetos</a>
                </button>
              </div>
            </slide>
            <slide>
              <img src="./assets/images/dash01.png" alt="second slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="carousel-button"><a href="#" class="btn">Ver Projetos</a>
                </button>
              </div>
            </slide>
            <slide>
              <img src="./assets/images/dash01.png" alt="third slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                <button class="carousel-button"><a href="#" class="btn">Ver Projetos</a>
                </button>
              </div>
            </slide>
          </carousel>
        <div class="dados-item-img">
            <img src="./assets/images/data.png">
            <img src="./assets/images/python.png">
            <img src="./assets/images/excel.png">                             
            <img src="./assets/images/bi.png">
            <img src="./assets/images/painel-de-controle.png">
            <img src="./assets/images/innovation.png">
        </div>
    </div> 
     
</section>

<section class="sessao-front" data-aos="fade-left" data-aos-duration="1500">
    <div class="home-text">
        <h5>Skills</h5>
        <h1>Front-End Developer</h1>
        <p>Habilidade de desenvolvimento de paginas web responsivas, de alta performance e aplicada a negócios.</p>
    </div>
    <div class="front-skills">
        <div class="front-skills skill-1">
            <img src="./assets/images/html.png">
        </div>
        <div class="dados-skills skill-2">
            <img src="./assets/images/css.png">
        </div>
        <div class="dados-skills skill-3">
            <img src="./assets/images/bootstrap.png">
        </div>  
        <div class="front-skills skill-4">
            <img src="./assets/images/js.png">
        </div>
        <div class="dados-skills skill-5">
            <img src="./assets/images/typescript.png">
        </div>

    </div>
</section>
<section class="cards" data-aos="fade-right" data-aos-duration="1500">
    <div class="card">
        <div class="card-header">My Skills</div>
            <div class="body">
            <div class="skill">
                <div class="skill-name">HTML</div>
                <div class="skill-level">
                <div class="skill-percent" style="width: 90%"></div>
                </div>
                <div class="skill-percent-number">90%</div>
            </div>
            <div class="skill">
                <div class="skill-name">CSS</div>
                <div class="skill-level">
                <div class="skill-percent" style="width: 80%"></div>
                </div>
                <div class="skill-percent-number">80%</div>
            </div>
            <div class="skill">
                <div class="skill-name">JavaScript</div>
                <div class="skill-level">
                <div class="skill-percent" style="width: 75%"></div>
                </div>
                <div class="skill-percent-number">75%</div>
            </div>
        </div>
    </div>   
</section>
<hr class="hr3">






<!--<div  class="sessao-header">
        <h1>Conhecimentos</h1>
    </div>
    <div class="conhecimentos">
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-html5"></i>
                <h3>HTML</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-css3-alt"></i>
                <h3>CSS</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fas fa-pencil-alt"></i>
                <h3>Desing</h3>
            </div>
            <div class="conhecimento-text">
                <p>Criar um layout de pagina para está sessao</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-js"></i>
                <h3>Javascript</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-bootstrap"></i>
                <h3>Bootstrap</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-github"></i>
                <h3>GitHub</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
    </div>-->