.hero {
    display: block;
    padding: 128px 16px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.heading {
    position: relative;
    z-index: 3;
    margin-bottom: 0;
    font-family: 'GT Walsheim',sans-serif;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700
}

.hero-heading-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center
}

.paragraph {
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px
}


.hero-subtext {
    width: 100%;
    margin-bottom: 16px;
    color: #7366fe;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase
}

.hero-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1280px;
    margin-top: 96px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}


.cursor-line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #7366fe
}

.cursor-text {
    position: absolute;
    top: -28px;
    padding: 2px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #7366fe;
    font-family: 'GT America Standard',sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500
}

.carousel{
    margin-left: 12vw;
    margin-right: 12vw;
    max-width: 75vw;
    max-height: 75vh;
}


@media screen and (min-width: 1440px) {
    .heading {
        margin-bottom: 0
    }

    .cursor-line {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 4px;
        padding-right: 0;
        padding-bottom: 0;
        background-color: #7366fe
    }

    .cursor-text {
        position: absolute;
        top: -28px;
        margin-bottom: 0;
        padding: 2px 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #ffffff;
        color: #fff
    }

    .cursor-text-block {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500
    }
}


@font-face {
    font-family: 'GT America Standard';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/60884aabe5cebf379ef13c05_GT-America-Standard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Standard';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/636d821093894cd0c025a8d6_GT-America-Standard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/636d822b9b96f77e2dc1c544_GT-Walsheim-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f04dd7788031e30779be8e5_GT-Walsheim-Pro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f04dda8de6c115b7d89627a_Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f04dda8de6c110bdf89627b_Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f04dda8839bf97ce3f394c4_Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f04dda8839bf97564f394c5_Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f04dda8c84aef845680256d_Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f04dda8fcf136b9f9f6d14d_Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f04dda8580a6089f54ac761_Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GT America Standard';
    src: url('https://assets.website-files.com/5f04dd60cf344a1e1952a8e5/5f320dd0e19ed9ab79db485b_GT-America-Standard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}
