<div class="hero wf-section" data-aos="fade-right" data-aos-duration="1500">
    <div class="hero-heading-text">
        <div class="hero-subtext">Ciencia de dados</div>
        <div class="hero-title-container">
            <h1 class="heading first">O que é </h1>
            <h1 class="heading">Ciencia de dados?</h1>
        </div>
    <p class="paragraph">A ciência de dados é uma area de tecnologia que utiliza técnicas de análise de dados para extrair 
        informações valiosas e insights a partir de grandes volumes de dados. Ela combina elementos de estatística, matemática, ciência da computação
        e domínio de negócios para resolver problemas e tomar decisões informadas.</p>
    </div>
</div>

<div class="carousel">
    <carousel>
        <slide>
          <img src="./assets/images/banner01.png" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            <button class="carousel-button"><a href="#" class="btn">Ver Projetos</a>
            </button>
          </div>
        </slide>
        <slide>
          <img src="./assets/images/banner01.png" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="carousel-button"><a href="#" class="btn">Ver Projetos</a>
            </button>
          </div>
        </slide>
        <slide>
          <img src="./assets/images/banner01.png" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <button class="carousel-button"><a href="#" class="btn">Ver Projetos</a>
            </button>
          </div>
        </slide>
      </carousel>
</div>

<br>

<div class="hero wf-section" data-aos="fade-left" data-aos-duration="1500">
    <div class="hero-heading-text">
        <div class="hero-subtext">Como pode ser util?</div>
        <div class="hero-title-container">
            <h1 class="heading first">Porque contratar um</h1>
            <h1 class="heading">Cientista de dados?</h1>
        </div>
    <p class="paragraph">Ready evolves your calendar into a living, breathing multiplayer 
        workspace for teams to instantly make your meetings better.</p>
    </div>
    </div>
