<!--Header-->
<section class="home" id="home">
    <div class="home-text">
        <h3>Olá</h3>
        <h1>Eu sou o Luiz</h1>
        <h5>Sou um Cientista de dados!</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, voluptate harum praesentium ipsa facilis deleniti inventore ut odio iure sunt, esse unde incidunt numquam eum neque totam ea accusamus nihil?
        </p>
        <div class="social">
            <a href=""><img src="./assets/images/insta.png"></a>
            <a href="https://github.com/rickluizms"><img src="./assets/images/github.png"></a>
            <a href="https://www.linkedin.com/in/rickluizms"><img src="./assets/images/linkedin.png"></a>
        </div>
        <button><a href="#" class="btn">About Me</a>
        </button>
    </div>
        <div class="home-img">
            <img src="./assets/images/innovation.png">

        </div>
</section>


<!--Sessão - Dados-->
<!--Sessão - Front-->
<!--Sessão - Projetos-->
<!--Sessão-->
<!--Header-->
