
<carousel [pauseOnFocus]="true">
  <slide class="banner1">
    <img src="./assets/images/banner01.png" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Analise de Dados</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Enim aliquid voluptas modi facilis voluptates reprehenderit, 
        aliquam obcaecati similique eaque nisi veniam sapiente a 
        magni nulla accusamus tempora quam? Fuga, earum!</p>
        <button [routerLink]="['/portfolio/']" class="full-rounded">
            <span>Saiba Mais</span>
            <div class="border full-rounded"></div></button>
    </div>
  </slide>
  <slide class="banner2">
    <img src="./assets/images/banner02.png" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Front-End</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Enim aliquid voluptas modi facilis voluptates reprehenderit, 
        aliquam obcaecati similique eaque nisi veniam sapiente a 
        magni nulla accusamus tempora quam? Fuga, earum!</p>
        <button [routerLink]="['/portfolio/']" class="full-rounded">
            <span>Saiba Mais</span>
            <div class="border full-rounded"></div></button>
    </div>
  </slide>
  <slide class="banner3">
    <img src="./assets/images/banner03.png" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Back-End</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Enim aliquid voluptas modi facilis voluptates reprehenderit, 
        aliquam obcaecati similique eaque nisi veniam sapiente a 
        magni nulla accusamus tempora quam? Fuga, earum!</p>
        <button [routerLink]="['/portfolio/']" class="full-rounded">
            <span>Saiba Mais</span>
            <div class="border full-rounded"></div></button>
    </div>
  </slide>
</carousel>


<section class="sessao-conhecimentos">
    <div class="sessao-header">
        <h1>Conhecimentos</h1>
    </div>
    <div class="conhecimentos">
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-html5"></i>
                <h3>HTML</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-css3-alt"></i>
                <h3>CSS</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fas fa-pencil-alt"></i>
                <h3>Desing</h3>
            </div>
            <div class="conhecimento-text">
                <p>Criar um layout de pagina para está sessao</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-js"></i>
                <h3>Javascript</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-bootstrap"></i>
                <h3>Bootstrap</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-github"></i>
                <h3>GitHub</h3>
            </div>
            <div class="conhecimento-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti qui aliquam molestias dolores.
                    Harum fugit consectetur minima.</p>
            </div>
        </div>
    </div>
    </section>